<script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <br><br><br><br><br><br><br><br><br>  <p>@Copyright <br>
        Author: Binh Hoang<br>
        ID: 301195436 <br> 
        email: lhoang19@my.centennialcollege.ca
      
</body>
</html>