<script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <br><br><br><br><br><br><br><br><br>  <p>@Copyright <br>
        Author: Group 3<br>
        Name: Binh Hoang
 <br>   Name : Egor 
        
      
</body>
</html>